<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Export Data</h3>
    <p>exporting from database</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Please select format of file.</p>
        <select name="file-format" class="form-control my-3">
            <option selected>Choose format...</option>
            <option>CSV</option>
            <option>JSON</option>
            <option>XLS (Excel)</option>
        </select>
        <button class="btn btn-primary" type="submit">Export</button>
    </form>
    <a href="{% url 'export_data' %}">Return Home View</a>
</body>
</html>